cloud_id                 = "b1gk8o51go56m472jlet"
folder_id                = "b1g0r75ip1iq2fu4uham"
zone                     = "ru-central1-a"
image_id                 = "fd8pc3bulirj4i0g3pkh"
public_key_path          = "/home/alex/.ssh/id_rsa_yandex.pub"
private_key              = "/home/alex/.ssh/id_rsa_yandex"
subnet_id                = "e9bjakkfq8p2ebq47j97"
service_account_key_file = "/home/alex/yandex-cloud/authorized_key.json"
reddit-base_count        = 3
